// Variables

// Restate Bootstrap Variables

// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1675d1&secondary.color=FFC107

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$blue-prim-prim: #1675d1 !default;
$blue-prim-light: #62a4ff !default;
$blue-prim-dark: #004a9f !default;
$amber-prim-prim: #ffc107 !default;

$manhatta-blue-prim: #aecfe6 !default;
$manhatta-background-light: #f3ebe0 !default;
$manhatta-dark-text: #5A472A !default;

// $primary:       $blue-prim-prim !default;
$primary:       $manhatta-blue-prim !default;
$secondary:     $amber-prim-prim !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $blue-prim-light !default;
$dark:          $blue-prim-dark !default;

// Page Variables

$sidebar-base-width: 17rem;
